---

- name: Pause for 5 Minutes
  ansible.builtin.pause:
    minutes: 5

- name: Wait For Restore to Complete and system to become Active (15 Minutes of Retries)
  f5networks.f5_bigip.bigip_command:
    commands: show cm failover-status
  register: restore_ucs_wait_f5_online
  until:
    - restore_ucs_wait_f5_online is defined
    - "'stdout' in restore_ucs_wait_f5_online"
    - restore_ucs_wait_f5_online.stdout is iterable and restore_ucs_wait_f5_online.stdout | length > 0
    - "'ACTIVE' in restore_ucs_wait_f5_online.stdout[0]"
    - "'green' in restore_ucs_wait_f5_online.stdout[0]"
  retries: 30
  delay: 30
