---

- name: Use find to get the files list which you want to copy/fetch
  ansible.builtin.find:
    paths: "{{ backup_path }}"
    patterns: "*.ucs"
  register: copy_ucs_file_ucs_fetch
  delegate_to: localhost

- name: Upload UCS
  f5networks.f5_bigip.bigip_ucs:
    ucs: "{{ item.path }}"
    state: present
  register: copy_ucs_file_restore_task_upload
  loop: "{{ copy_ucs_file_ucs_fetch.files }}"
  when:
    - item.path is defined
    - inventory_hostname in item.path
