---

- name: "Query BIG-IP facts"
  f5networks.f5_modules.bigip_device_info:
    provider: "{{ provider }}"
    gather_subset:
      - iapplx-packages
  register: remove_as3_bigip_device_facts

- name: "Show if AS3 Service is Installed"
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ remove_as3_bigip_device_facts.iapplx_packages | json_query(query_string) }}"
  vars:
    query_string: "[?name=='f5-appsvcs'].package_name"
  register: remove_as3_output

- name: "Show if AS3 Service Discovery is Installed"
  ansible.builtin.debug:
    msg: "{{ item }}"
  loop: "{{ remove_as3_bigip_device_facts.iapplx_packages | json_query(query_string) }}"
  vars:
    query_string: "[?name=='f5-service-discovery'].package_name"
  register: remove_as3_output2

- name: Remove Previous AS3 Package - f5-appsvcs
  f5networks.f5_modules.bigip_lx_package:
    package: "{{ remove_as3_output.results[0].item }}.rpm"
    provider: "{{ provider }}"
    state: absent
  when: remove_as3_output.results[0] is defined

- name: Remove Previous AS3 Package - f5-service-discovery
  f5networks.f5_modules.bigip_lx_package:
    package: "{{ remove_as3_output2.results[0].item }}.rpm"
    provider: "{{ provider }}"
    state: absent
  when: remove_as3_output2.results[0] is defined

- name: Pause 30 Seconds
  ansible.builtin.pause:
    seconds: 30
