---

- name: Store Variable for Hostname from Group
  ansible.builtin.set_fact:
    ha_failover_to_standby_temp_hostname: "{{ hostvars[item].inventory_hostname }}"
  loop: "{{ groups['ha_pair_source'] }}"
  when: hostvars[item].ansible_host == ansible_host

- name: Load backup inventory JSON
  ansible.builtin.set_fact:
    ha_failover_to_standby_temp_inventory: "{{ lookup('file', backup_path + '/inventory_' + ha_failover_to_standby_temp_hostname + '.json') | from_json }}"
  delegate_to: localhost

- name: Collect BIG-IP information
  f5networks.f5_modules.bigip_device_info:
    gather_subset:
      - traffic-groups
    provider: "{{ provider }}"
  delegate_to: localhost
  register: ha_failover_to_standby_traffic_group

- name: Debug
  ansible.builtin.debug:
    var: ha_failover_to_standby_temp_inventory

- name: Debug
  ansible.builtin.debug:
    var: ha_failover_to_standby_traffic_group

- name: Trigger HA Failover
  f5networks.f5_modules.bigip_command:
    commands:
      - "run /sys failover standby"
    provider: "{{ provider }}"
  loop: "{{ ha_failover_to_standby_traffic_group.traffic_groups }}"
  when:
    - item.is_floating is defined
    - item.is_floating | lower == 'yes'

- name: Collect BIG-IP information
  f5networks.f5_modules.bigip_device_info:
    gather_subset:
      - devices
    provider: "{{ provider }}"
  delegate_to: localhost
  register: ha_failover_to_standby_current_failover_state

- name: Debug
  ansible.builtin.debug:
    var: item.failover_state
  loop: "{{ ha_failover_to_standby_current_failover_state.devices }}"
  when:
    - item.name is defined
    - inventory_hostname in item.name
