---

- name: Import Information From JSON File
  ansible.builtin.set_fact:
    create_dyn_groups_inventory: "{{ lookup('file', item) | from_json }}"
  with_fileglob: "{{ backup_path }}/inventory_*.json"
  delegate_to: localhost

- name: Pull Password to use for Dynamic Group
  ansible.builtin.set_fact:
    create_dyn_groups_temp_pass: "{{ hostvars[item].ansible_password }}"
    create_dyn_groups_temp_user: "{{ hostvars[item].ansible_user }}"
  loop: "{{ groups['ha_pair_source'] }}"


- name: Debug
  ansible.builtin.debug:
    msg: "{{ item.hostname }} -- {{ item.management_address }} -- {{ item.failover_state }}"
  loop: "{{ create_dyn_groups_inventory.ansible_facts.ansible_net_devices }}"

- name: Add VMs to dynamic ha_pair_source_dynamic
  ansible.builtin.add_host:
    hostname: "{{ item.hostname }}"
    ansible_host: "{{ item.management_address }}"
    ansible_user: "{{ create_dyn_groups_temp_user }}"
    ansible_password: "{{ create_dyn_groups_temp_pass }}"
    failover_state: "{{ item.failover_state }}"
    groups: ha_pair_source_dynamic
  loop: "{{ create_dyn_groups_inventory.ansible_facts.ansible_net_devices }}"
